# Project Configuration
PROJECT_NAME=carter-portfolio
PORT=3000
FRONTEND_PORT=4200

# Database
MONGODB_URI="mongodb+srv://Vercel-Admin-portfolio:knWHxXlT11lUGF41@portfolio.zugpteg.mongodb.net/?retryWrites=true&w=majority"
# Production Settings
PRODUCTION=false
PROD_BACKEND_URL=https://your-backend.vercel.app
PROD_FRONTEND_URL=https://your-frontend.vercel.app

# Assets
RESUME_URL=https://link-to-your-resume.pdf
